<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <div class="login-container">
    <div class="login-top">
      <img src='<%= imagePath %>'
    </div>
    <div class="login-bottom">
      
    </div>
    <button
      autofocus=true
      onclick="window.location.href = '<%= loginLink %>'"
    >
      <%= buttonText %>
    </button>
  </div>
</body>
</html>